
#Server

SERVER_DEV=
SERVER_PROD=

#Database

MONGO_URL=

#Mail Service

HOST_MAIL=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=


#Jwt

ACCESS_SECRET_KEY=
ACCESS_TOKEN_EXPIRES=
REFRESH_SECRET_KEY=
REFRESH_TOKEN_EXPIRES=