.contact-section {
  background-color: var(--white);
  width: 100%;
}

@media screen and (min-width: 799px) {
  .contact-section {
    
    width: 80vw;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.15);
  }
}
