<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Confirm your email</title>
  </head>
  <body>
    <p>Hey, {{name}}</p>
    <p>To verify your email please follow this link
      <a
        target='_blank'
        href='{{address}}/api/user/verify/email/{{verificationToken}}'
      >Click on this link</a>
    </p>
    <p>If you did not request this email you can safely ignore it.</p>
    <p>Best regards</p>
  </body>
</html>